<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<section class="products">

    <div class="PreWorkout">
        <h3>Pre-Workout</h3>
        <img src="./images/PreWorkout.jpg" alt="Pre-Workout">
    </div>

    <div class="Protein">
        <h3>Protein</h3>
        <img src="./images/Protein.jpg" alt="Protein">
    </div>

    <div class="Creatine">
        <h3>Creatine</h3>
        <img src="./images/Creatine.jpg" alt="Creatine">
    </div>

</section>

<section class="about">
    <h3>About Sherwood Company Ltd</h3>

    <section class="detailed">
        <div class="why">
            <h4>Why was SCL created?</h4>
            <p>Was created to only sell useful products that are not a waste of money for the average consumer</p>
        </div>

        <div class="How">
            <h4>How was SCL created?</h4>
            <p>SCL was created by the Peaky Blinders to fight against the sales of useless supplements</p>
        </div>

        <div class="who">
            <h4>Who created SCL?</h4>
            <p>Who created the SCL was the Peaky Blinders, but more specifically, it was T.J. Sherwood.</p>
        </div>

    </section>
</section>